<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luckywc.medbooks"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.luckywc.activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.luckywc.activity.WelcomeActivity" >
        </activity>
        <activity android:name="com.luckywc.activity.FoodActivity" >
        </activity>
        <activity android:name="com.luckywc.activity.FoodInfo" />
        <activity android:name="com.luckywc.activity.SearchActivity" >
        </activity>
        <activity android:name="com.luckywc.activity.SettingActivity" >
        </activity>
        <activity android:name="com.luckywc.activity.TabMainActivity" >
        </activity>
        <activity android:name="com.luckywc.activity.TitleListActivity" >
        </activity>
        <activity android:name="com.luckywc.activity.DetailActivity" >
        </activity>
    </application>

</manifest>